/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* @font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Italic.ttf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic, oblique;
}
@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Medium.ttf");
    font-weight: 700;
} */
@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.svg#RobotoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Italic-webfont.eot");
  src: url("Roboto-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Italic-webfont.svg#RobotoItalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Bold-webfont.eot");
  src: url("Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Bold-webfont.svg#RobotoBold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("Roboto-BoldItalic-webfont.eot");
  src: url("Roboto-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-BoldItalic-webfont.svg#RobotoBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Medium-webfont.eot");
  src: url("Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Medium-webfont.svg#RobotoThin") format("svg");
  font-weight: 700;
  font-style: normal;
}
/*
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
<i class="fas fa-caret-right"></i>
<i class="fas fa-angle-double-right"></i>
<i class="fas fa-chevron-right"></i>
<i class="fas fa-chevron-left"></i>
<i class="fas fa-sun"></i>
<i class="fas fa-moon"></i>
<i class="far fa-times-circle"></i>
*/
/* line 191, ../sass/_layout.scss */
* {
  /* box size incluse padding and boarder */
}

/* line 197, ../sass/_layout.scss */
.clear-fix {
  clear: both;
}

/* layout css */
/* line 201, ../sass/_layout.scss */
.wrap {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
}

/* layout css - header */
/* line 208, ../sass/_layout.scss */
.header {
  height: 74px;
  background-color: #000000;
  color: #50FF44;
}
/* line 212, ../sass/_layout.scss */
.header .logo {
  font-family: 'Roboto', Fallback, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 36px;
  text-align: center;
  line-height: 74px;
}

/* layout css - content */
/* line 219, ../sass/_layout.scss */
.content {
  min-height: 200px;
}

/* layout css - footer */
/* line 224, ../sass/_layout.scss */
.footer {
  height: 70px;
  line-height: 70px;
  margin-top: 10px;
  text-align: center;
  border: 1px solid #000000;
}

/* var elem = document.getElementById( 'some-id' );
elem.classList.add('some-class'); // Add class
elem.classList.remove('some-other-class'); // Remove class
elem.classList.toggle('some-other-class'); // Add or remove class
if ( elem.classList.contains('some-third-class') ) { // Check for class
    console.log('yep!');
} */
/* line 14, ../sass/read.scss */
.fas {
  width: 1.4rem;
  font-size: 1.4rem;
}

/* line 18, ../sass/read.scss */
.-white {
  color: #FFFFFF;
}

/* line 21, ../sass/read.scss */
a {
  color: #000000;
}

/* line 25, ../sass/read.scss */
#pop-pic {
  position: absolute;
  top: 48px;
  left: 32px;
  width: 960px;
  background-color: #d8e0e2;
  z-index: 100;
  display: none;
}
/* line 34, ../sass/read.scss */
#pop-pic #pic-top {
  float: left;
  width: 800px;
  height: 1200px;
}
/* line 39, ../sass/read.scss */
#pop-pic .ad-top {
  width: 960px;
  margin: 20px 0;
}
/* line 44, ../sass/read.scss */
#pop-pic .pic-shift-top {
  float: left;
  width: 80px;
  text-align: center;
  line-height: 1200px;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 51, ../sass/read.scss */
#pop-pic .pic-shift-top:hover {
  background-color: #50FF44;
}
/* line 54, ../sass/read.scss */
#pop-pic .pop-exit {
  margin-right: 80px;
  margin-bottom: 20px;
  display: inline-block;
  float: right;
}

/* line 61, ../sass/read.scss */
.content {
  background-color: #F2F2F2;
  z-index: 50;
}
/* line 65, ../sass/read.scss */
.content .ad {
  width: 620px;
  margin: 20px 202px;
}
/* line 70, ../sass/read.scss */
.content .head {
  /* box size incluse padding and boarder */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 620px;
  min-height: 20px;
  margin: 0 auto;
}
/* line 76, ../sass/read.scss */
.content .head h2 {
  display: inline-block;
  font-family: 'Roboto', Fallback, sans-serif;
  font-weight: 700;
  font-size: 20px;
}
/* line 79, ../sass/read.scss */
.content .head h2 a {
  text-decoration: none;
}
/* line 84, ../sass/read.scss */
.content .head .day-night {
  display: inline-block;
  float: right;
  padding-top: 6px;
}
/* line 89, ../sass/read.scss */
.content .head .trigger {
  display: inline-block;
  /* box size incluse padding and boarder */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 48px;
  height: 20px;
  border: 2px solid #000000;
  border-left: 24px solid #000000;
}
/* line 97, ../sass/read.scss */
.content .head select {
  /* box size incluse padding and boarder */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Roboto', Fallback, sans-serif;
  font-weight: bold;
  font-size: 16px;
  width: 127px;
  height: 35px;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid #000000;
}
/* line 107, ../sass/read.scss */
.content .head::after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
/* line 110, ../sass/read.scss */
.content .pic {
  /* box size incluse padding and boarder */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: 24px;
  width: calc(620px + 48px * 2);
  min-height: 20px;
  margin: 0 auto;
}
/* line 117, ../sass/read.scss */
.content .pic .pic-shift {
  display: block;
  float: left;
  width: 47px;
  line-height: 930px;
  text-align: center;
}
/* line 124, ../sass/read.scss */
.content .pic .pic-shift:hover {
  background-color: #50FF44;
}
/* line 127, ../sass/read.scss */
.content .pic img {
  display: block;
  float: left;
  width: 620px;
  height: 930px;
}
/* line 134, ../sass/read.scss */
.content .list {
  /* box size incluse padding and boarder */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 620px;
  min-height: 20px;
  margin: 10px auto 0px auto;
}
/* line 140, ../sass/read.scss */
.content .list h3 {
  text-align: center;
  font-family: 'Roboto', Fallback, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  background-color: #F2F2F2;
}
/* line 147, ../sass/read.scss */
.content .list .subpic {
  float: left;
  margin-left: 20px;
}
/* line 151, ../sass/read.scss */
.content .list .subpic img {
  /* box size incluse padding and boarder */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 80px;
  height: 120px;
}
/* line 156, ../sass/read.scss */
.content .list .subpic img:hover {
  border: 2px solid #000000;
}
/* line 159, ../sass/read.scss */
.content .list .subpic .pic-active {
  border: 2px solid #000000;
}
/* line 164, ../sass/read.scss */
.content .list .subpic-shift {
  float: left;
  margin-top: 14px;
  /* box size incluse padding and boarder */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 50px;
  height: 120px;
  text-align: center;
  line-height: 120px;
}
/* line 173, ../sass/read.scss */
.content .list .subpic-shift:hover {
  background-color: #50FF44;
}
/* line 177, ../sass/read.scss */
.content .subpic-gap {
  margin-left: 18px;
}
/* line 180, ../sass/read.scss */
.content .shift {
  /* box size incluse padding and boarder */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 50px;
  height: 18px;
  color: #FFFFFF;
  text-align: center;
  background-color: #000000;
}

/* line 193, ../sass/read.scss */
input[type="range"] {
  /* box size incluse padding and boarder */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  float: left;
  -webkit-appearance: none;
  border: 4px solid #000000;
  width: 518px;
  height: 18px;
  margin: 0;
}

/* line 204, ../sass/read.scss */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #000000;
  height: 14px;
  width: 8.3%;
}
